@model IEnumerable<FactsAssignment.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h4>Products</h4>

<p>
    <a asp-action="UploadProduct">Add new</a>
</p>

<div class="panel" style="border: 1px solid #d2d6de;">
    <div style="padding:5px">
        <table id="addSearch">
            <thead>
                <tr style="padding: 10px">
                    <td colspan="3">
                        <i class="fa fa-filter"></i>
                        <h5 style="display:inline">Filters</h5>
                        <a id="searchReset" href="#">&nbsp;&nbsp;<span>Reset</span></a>
                        <hr style="margin-top:0;margin-bottom:5px;">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-sm-1">
                        <label class="">Name</label>
                        <p id="searchName" style="min-width: 200px;height:fit-content"></p>
                    </td>

                    <td class="col-sm-1">
                        <label class="">Color</label>
                        <p id="searchColor" style="min-width: 200px;height:fit-content"></p>
                    </td>
                </tr>
                @*<tr>
                    <td class="pad5">
                        <label class="">Name</label>
                    </td>
                    <td id="searchName"></td>
                </tr>
                <tr>
                    <td class="pad5">
                        <label class="">Color</label>
                    </td>
                    <td id="searchColor"></td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>

<table class="table" id="productsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.ActionLink("Add to Cart", "AddToCart", new { id=item.Name }) 
                    @*|
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
